.navbar-inverse {
    background-color: #f6ac14;
    border-color: #f6ac14;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #0d5f11;
}
a {
    color: #0d5f11;
}
a:active,
a:hover {
  color: #0d5f11;
  }
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section {
    font-weight: bold;
    margin-left: 8px;
    color: #0d5f11;
}
.navbar-inverse .navbar-nav > .active > a{
    color: #fff;
    background-color: #FFBD02;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #FFBD02;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #f6ac14;
}
.btn-primary:focus, .btn-primary.focus {
    color: white;
    background-color: #0d5f11;
    border-color: #0d5f11;
}
.btn-primary {
    color: white;
    background-color: #0d5f11;
    border-color: #0d5f11;
}
.btn-primary:hover {
  color: #000000;
  background-color: #0d5f11;
  border-color: #ffbd02;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ffbd02;
  border-color: #0d5f11;
}
.oe_highlight {
    color: white;
    background-color: #0d5f11;
    border-color: #0d5f11;
}
.oe_highlight:hover{
    color: black;
    background-color: #ffbd02;
    border-color: #0d5f11;
}