
.w3-circle2{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 54%;
    margin-top: -166%;
    margin-left: 93%;
    position: absolute;
    height: 120%;
    font-weight: bold;
    text-align: center;
    font-size: larger;}

.w3-circle3{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 33%;
    margin-top: -97%;
    margin-left: 65%;
    position: absolute;
    height: 128%;
    font-weight: bold;
    text-align: center;
    font-size: larger;}


.w3-circle4{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 47%;
    margin-top: -186%;
    margin-left: 74%;
    position: absolute;
    height: 129%;
    font-weight: bold;
    text-align: center;
    font-size: larger;}

.w3-circle5{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 35%;
    position: absolute;
    top: -273%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    left: 116%;
    height: 139%;}

.w3-circle6{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 38%;
    position: absolute;
    top: -273%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    left: 130%;
    height: 123%;}


.w3-circle7{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 56%;
    position: absolute;
    top: -273%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    left: 160%;
    height: 120%;}


.w3-circle8{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 25%;
    position: absolute;
    top: -277%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    left: 100%;
    height: 135%;}

.w3-circle9{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 26%;
    position: absolute;
    top: -283%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    left: 94%;
    height: 139%;}

.w3-circle10{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 45%;
    position: absolute;
    top: -273%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    left: 140%;
    height: 131%;}


.w3-circle11{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 35%;
    position: absolute;
    top: -273%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    left: 113%;
    height: 122%;}

.w3-circle12{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 23%;
    position: absolute;
    top: -298%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    left: 86%;
    height: 128%;}

.w3-circle13{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 98%;
    position: absolute;
    top: -280%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    left: 233%;
    height: 129%;}


.w3-circle14{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 23%;
    position: absolute;
    top: -273%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    left: 71%;
    height: 131%;}

.w3-circle15{border-radius: 50%;
    color: white;
    background-color: #34d434;
    width: 22%;
    position: absolute;
    top: -387%;
    text-align: center;
    font-size: 153%;
    font-weight: bold;
    left: 77%;
    height: 154%;}


